body {
    padding-top: 56px; 
    background-color: #f4f7f5; 
}


.navbar-brand .text-success {
    color: #28a745 !important; 
    font-style: italic;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

footer {
    border-top: 5px solid #28a745;
}