.header{
        background-color: rgba(3, 135, 168, 1);
        padding: 5px 10%;
        text-align: center;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        
    }   
    .header .logo img{
        height: 70px;
        width: auto;
        border-radius: 100%;
        transition: all 0.3s;
    }
    h1{
        text-align: center;
        color: rgba(3, 135, 168, 1);
        font-size: 40px;
    }
    .header .logo img:hover{
        transform: scale(1,1.2);
    }
    .header .logo{
        cursor: pointer;
    }
    .header .main-menu{
        list-style: none;
    }
    .header .main-menu li{
        display: inline-block;
        padding: 0 20px;
    }
    .header .main-menu a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    footer{
        background-color: rgba(3, 135, 168, 1);
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white; 
    }
    .main-menu {
        position: absolute;
        right: 10%;
    }
    .main-menu li:hover{
        background-color: rgba(1, 202, 102, 1);
    }
    .submenu{
        background-color: rgba(3, 135, 168, 1);
        list-style: none;
        padding: 10px;
        margin-top: 10px;
    }