h1{
background-color: orangered;
font-size: 48px;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
text-align: center;
padding: 20px;
border-radius: 8px;
color: red;
}

body {
font-family: 'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
font-size: 21px;
background-image: url('bg1.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}