<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tienda de mascotas</title>
</head>
<body background="https://www.1zoom.me/big2/423/280454-blackangel.jpg">

  <h1 style="color: orange; text-align: center;">Tienda de mascotas</h1>

  <ul>
    <li><a href="index.html">Home</a>
      <ul>
        <li><a href="historia.html">Historia</a></li>
      </ul>
    </li>

    <li><a href="quienes-somos.html">Quienes somos</a>
      <ul>
        <li><a href="donde-nos-encuentras.html">Dónde nos encuentras</a></li>
        <li><a href="mapa.html">Mapa</a></li>
      </ul>
    </li>

    <li><a href="nuestros-productos.html">Nuestros productos</a>
      <ul>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="servicios.html">Servicios</a></li>
      </ul>
    </li>

    <li><a href="contactanos.html">Contáctanos</a>
      <ul>
        <li><a href="redes-sociales.html">Redes sociales</a></li>
      </ul>
    </li>

    <li><a href="carrito.html">Carrito de compras</a></li>
  </ul>

</body>
</html>